node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env
.env.local
android/keystore.properties
android/app/*.keystore
!android/app/debug.keystore
*.aab
android/app/build/
android/build/
android/app/.cxx/
release/
build-log.txt
